body
    &.o-cursor-wait
        &, *
            cursor wait !important
    &.o-cursor-progress
        &, *
            cursor progress !important
    &.o-cursor-ew-resize
        &, *
            cursor ew-resize !important
    &.o-cursor-ns-resize
        &, *
            cursor ns-resize !important
    &.o-cursor-move
        &, *
            cursor move !important